- content_for :page_header do
  %h1 Обратная связь
  /%p= link_to "Добавить сообщение", new_admin_message_path
- if @messages.empty?
  %h2 Пока нет ни одного сообщения.
  -#%p
    Хотите
    = link_to "добавить?", new_admin_note_path
- else
  %table.list
    %colgroup
      %col.w1
      %col.w1
      %col
      %col
      %col.w1
    %tr
      %th 
      %th       
      %th Автор
      %th Отправлено
      %th 

    - @messages.each do |r|
      %tr
        %td
        %td        
        %td= link_to r.name, admin_message_path(r)
        %td= Russian.strftime(r.created_at, "%Y/%b/%d,  %H:%M")
        %td= link_to "Удалить", [:admin,r], :class => :del, :method => :delete
