.contacs-box
  %p.text
    Новинский б-р, д. 11
    %br
    +7 (499) 605-17-84, +7 (499) 255-66-55
    %br
    info@newsandmore.ru
  %ul
    %li= image_tag "qrcode.png" 
    %li
      = link_to "http://maps.google.ru/maps?hl=ru&amp;q=%D0%BD%D0%BE%D0%B2%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80+11&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9D%D0%BE%D0%B2%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%B1%D1%83%D0%BB.,+11,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;ll=55.753215,37.582248&amp;spn=0.007028,0.021136&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed" do
        = image_tag "map.png"
      %p= image_tag asset_path "loupe.png"
  .clear