-#
  .slider
    %ul
      - @sliders.each do |image|
        %li= image_tag image.slider_image_url if image.slider_image?


  
.index_left



.enter_button
  #new
    %span= link_to t(:site_enter), main_path
    = link_to image_tag("index_point.png"), main_path

.slider_title
  - @sliders.each do |image|
    %li= image.title
