/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$darktext: #301310;
$lighttext: #9c7f6f;
$padding: 15px;
$background: url(background.png);
$radius:15px;
$margin:1em;
$height:125px;
$textsize:14px;
$menu_color:#9eaf19;

@mixin main-style {
	padding: $padding;
	background:$background;
	border-radius: $radius;
}
html {
//	background: url(for_fake/index_slider/index4.png) no-repeat top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 105%;
}

body {
	width:1000px;
	margin:0 auto;
	font-size:11px;
}

header {
	font-size:10px;
	width:1000px;
	padding:10px 0 0 0;
	background:white;
	a {
		color:$lighttext;
	}

	img{
		height:12px;
		padding:0;
		margin:0;
	}
		
	ul {
/*не судите строго за этот text-align
*/
		text-align:center;
		margin:0;
		padding:0;
		li {
			display: inline-block;
			padding:0.2em 0.4em 0.2em 0.4em;
		}
	}
}
a {
	text-decoration:none;
	color:black;
}
hr {
	height: 1px;
	background: url(hr-line.png) scroll center;
	clear:both;
	border:0px none;
}
li {
	list-style-type:none;
}
ul{
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, h6 {
	color:$darktext;
}

#dark_text {
	color:$darktext;
	font-size: 15px;
	font-weight: bold;
		a {
			color:$darktext;
		}
}
#light_text {
	color:$lighttext;
	font-size: 15px;
	font-weight: bold;
		a {
			color:$lighttext;
		}
}

h4, h3, h2 {
	padding:0;
	margin:0;
}

.index_left{
	position: absolute;
	top:0;
	background:$background;
	padding:605px 20px 0 20px;
	width:415px;
	float:left;
	margin:0;
}

.index_right{
	float:right;

	.slider_title{
		float:right;
		text-align:right;
		margin-top:500px;
		font-size:35px;
		color:$lighttext;
	}
	.enter{
		margin:0;
		width:545px;
		margin-top:665px;
		padding:0;
		color:$lighttext;
		hr{
			padding:0;
			margin:0;
		}
		#info{
			padding:5px;
		}
		a {
			float:right;
			background:$darktext;
			color:white;
			padding:5px;
		}
}
}



.left_column {
	float:left;
	padding:0;
	width:570px;
	.about {
		width:330px;
		float:left;
		margin-right:$margin;
		@include main-style;
		height:$height;
		a {
			color:$lighttext;
			text-decoration:underline;
		}
	}
	.main_menu{
		width:169px;
		float:right;
		@include main-style;
		height:$height;
	}
	.news {
		width:540px;
		margin-top:$margin;
		float:left;
		@include main-style;
		.post {
			float:left;
			img {
				border:solid 1px $lighttext;
			}
		}
	}
	.footer{
		color:$lighttext;
		.logo_index{
			margin-top:50px;
			float:left;
			img{
				width:250px;
			}
		}
		.logo_text{
			float:right;
			img{
				width:305px;
				margin-top:50px;
				padding:30px 0 0 $padding;
			}
		}
	}
	.menu{
		width:540px;
		margin-bottom:1em;
		a {
			font-size:10px;
			color:white;
		}
		.current{
				background:$darktext;
			}
		ul {
			li {
				display: inline-block;
				margin:auto;
				padding:0 0.4em 0 0.4em;
				margin-bottom:0.5em;
				background:$menu_color;}}}
	.reservation {
		@include main-style;
		margin-bottom:$margin;

		.left_form_part{
			width:285px;
			table {
				td {
					width:85px;
				}
				input {
					width:150px;
				}
			}
		}
		.right_form_part{
			float:right;
			width:250px;
			margin-right:10px;
		}
	}
	.event {
		@include main-style;
		margin-bottom:$margin;
	}

	.recalls {
		@include main-style;
		margin-bottom:$margin;
	}
	.contacts{
		@include main-style;
		margin-bottom:$margin;		
	}
	.movie {
		@include main-style;
		margin-bottom:$margin;	
	}
}
.right_column {
	width:415px;
	float:left;
	margin-left:$margin;
	.events{
		@include main-style;
		margin-bottom:$margin;
		a {
			font-size:$textsize;
			text-decoration:underline;
		}
	}
	.sport {
		@include main-style;
		margin-bottom:$margin;
		a {
			font-size:$textsize;
			text-decoration:underline;
		}
	}
	.movies {
		@include main-style;
		margin-bottom:$margin;
		a {
			color:$lighttext;
		}
		.right {
			float:right;
			img {
				float:right;
				width:60px;
				height:60px;
				margin-left:5px;
			}
			.day_of_week {
				text-align:right;
			}
		}
		.left {
		
		}
	}


	img{

//		width:415px;
//убрать эту высоту
	
//		height:300px;
	}
	.banquets {
		@include main-style;
		margin-top:$margin;
	}
	.archive{
		@include main-style;
		margin-top:$margin;
		a {
			text-decoration:underline;
		}
	}
	.recall_form{
		@include main-style;
		margin-top:$margin;	
		.actions {
			float:right;
		}
		table {
			td {
				width:85px;
			}
			td.input input {
				width:150px;
			}
		}
	}
	.messages_form{
		@include main-style;
		margin-top:$margin;

		.actions {
			float:right;
		}
		table {
			td {
				width:85px;
			}
			td.input input {
				width:150px;
			}
		}
	}	

}