/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$darktext: #1E1E1E;
$lighttext: #444444;

html {
	background:#fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	 line-height: 105%;
}

body {
	width:1000px;
	margin:0 auto;
	font-size:11px;
	padding:1em;
}

header {
	background:white;
	a {
		color:$lighttext;
	}
	img{
		padding:0;
		marging:0;
		height:11px;
	}
		
	ul {
/*не судите строго за этот text-align
*/
		text-align:center;
		margin:0;
		padding:0;
		li {
			display: inline-block;
			padding:0.2em 0.4em 0.2em 0.4em;
		}
	}
}
a {
	text-decoration:none;
	color:black;
}
li {
	list-style-type:none;
}
ul{
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, h6 {
	color:$darktext;
}

#dark_text {
	color:$darktext;
	font-size: 15px;
	font-weight: bold;
		a {
			color:$darktext;
		}
}
#light_text {
	color:$lighttext;
	font-size: 15px;
	font-weight: bold;
		a {
			color:$lighttext;
		}
}