/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
*/

$darktext: #301310;
$lighttext: #9c7f6f;
$padding: 15px;
$background: url(background.png);
$radius:15px;
$margin:1em;
$height:125px;
$textsize:14px;
$menu_color:#9eaf19;

@mixin main-style {
	padding: $padding;
	background:$background;
	border-radius: $radius;
}
html {
//	background: url(for_fake/index_slider/index4.png) no-repeat top;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 105%;
}

body {
	width:1000px;
	margin:0 auto;
	font-size:11px;
}

header {
	font-size:10px;
	width:1000px;
	padding:10px 0 0 0;
	background:white;
	a {
		color:$lighttext;
	}

	img{
		height:12px;
		padding:0;
		margin:0;
	}
		
	ul {
//не судите строго за этот text-align
		text-align:center;
		margin:0;
		padding:0;
		li {
			display: inline-block;
			padding:2px 4px 2px 4px;
		}
	}
}
a {
	text-decoration:none;
	color:black;
}
hr {
	height: 1px;
	background: url(hr-line.png) repeat-x center;
	clear:both;
	border:0px none;
}
li {
	list-style-type:none;
}
ul{
	padding:0;
	margin:0;
}
.actions input{
	margin:0;
	float:right;
	color:white;
	font-weight:bold;
	border:none;
	background:$menu_color;
}
input {
	border:solid 1px $lighttext;
}

.field_with_errors label {
  color: red;
}

h3 {
	color:$darktext;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
h4 {
	font-size: 13px;
	text-transform: uppercase;
	color:$darktext;
}
#red {
	color:red;
}

#dark_text {
	color:$darktext;
	font-size: 15px;
	font-weight: bold;
		a {
			color:$darktext;
		}
}
#light_text {
	color:$lighttext;
	font-size: 15px;
	font-weight: bold;
		a {
			color:$lighttext;
		}
}

#light {
			color:$lighttext;
		}

h4, h3, h2 {
	padding:0;
	margin:0;
}
.slider {
	li{
		position:absolute;
		top: 50px;
		margin-left:-50px;
	}
}
.qwerty{
	position:absolute;
	top: 50px;
	width:1000px;
}
.index_left{
	background:$background;
	padding:545px 20px 0 20px;
	width:415px;
	float:left;
	margin:0;
	.indexlocale {
		float:left;
		padding:10px 20px 0 0;
		img {
			margin-right:5px;
		}
	}
}

.index_right{
	float:left;

	.slider_title{
		position:absolute;
		float:right;
		text-align:right;
		margin-top:500px;
		font-size:35px;
		color:$lighttext;
		width:500px;
	}
	.enter{
		margin:0;
		width:545px;
		margin-top:665px;
		padding:0;
		color:$lighttext;
		hr{
			padding:0;
			margin:0;
		}
		#info{
			padding:5px;
		}
		a {
			float:right;
			background:$darktext;
			color:white;
			padding:5px;
		}
	}
}

.left_column {
	float:left;
	padding:0;
	width:570px;
	.about {
		width:330px;
		float:left;
		margin-right:$margin;
		@include main-style;
		height:$height;
		a {
			color:$lighttext;
			text-decoration:underline;
		}
	}
	.main_menu{
		width:169px;
		float:right;
		@include main-style;
		height:$height;
	}
	.news {
		width:540px;
		margin-top:$margin;
		float:left;
		@include main-style;
		
		.post {
			float:left;
			.title {
				width: 160px;
			}
			#post_image {
				#thumb {
					display:none;
				}
				img {
					border:solid 1px $lighttext;
					margin-right:3px;
				}	
			}
			#post_image:hover {
				#thumb {
					position:absolute;
					display:block;
				}
				img{
					border:solid 5px $menu_color;
					width: 162px;
					height: 162px;
				}
			}
		}
	}
	#pagination{
				float:right;
				color:$lighttext;
				margin-top:5px;
				a {
					color:$lighttext;
				}
			}
	.footer{
		color:$lighttext;
		.logo_index{
			margin-top:50px;
			float:left;
			img{
				width:250px;
			}
		}
		.logo_text{
			float:right;
			img{
				width:305px;
				margin-top:50px;
				padding:30px 0 0 $padding;
			}
		}
		.locale {
			float:right;
			img {
				margin-left:5px;
			}
		}
	}
	.menu{
		width:540px;
		margin-bottom:1em;
		a {
			font-size:10px;
			color:white;
		}
		.current{
				background:$darktext;
			}
		ul {
			li {
				display: inline-block;
				margin:auto;
				padding:0 0.4em 0 0.4em;
				margin-bottom:0.5em;
				background:$menu_color;}}}
	.content {
		@include main-style;
		margin-bottom:$margin;

		.expand_dish {
			float:right;
			color:$lighttext;
			font-weight:bold;
		}
		#right_dish_part{
			text-align:right;
			background: url(hr-line.png) repeat-x center;

		}
		#left_dish_part{
			float:left;

		}
		.left_form_part{
			width:285px;
			p {
				color:$lighttext;
				}
			table {
				td {
					width:85px;
				}
				input {
					width:150px;
				}

			}
		}
		.right_form_part{
			float:right;
			margin-right:10px;
			textarea{
				width:260px;
				border:1px solid $lighttext;
			}
		}
	}

}
.right_column {
	width:415px;
	float:left;
	margin-left:$margin;

	.block {
		.expand_events, .expand_sports, .expand_movies, {
			float:right;
			color:$menu_color;
			font-weight:bold;
			text-decoration:underline;
		}
		@include main-style;
		margin-bottom:$margin;
		.events, .sports{
			a {
				font-size:$textsize;
				text-decoration:underline;
			}
		}

		.sports {
			display: none;
		}

		.movies{
			display: none;
			a {
				color:$lighttext;
			}
		}

		.right {
			float:right;
			img {
				float:right;
				width:60px;
				height:60px;
				margin-left:5px;
			}
			.day_of_week {
				text-align:right;
			}
		}
	}
	.image {
		color:$lighttext;
	}
	.bottom{
		@include main-style;
		margin-top:$margin;	
		.actions {
			float:right;
		}
		textarea{
			width:280px;
			border:1px solid $lighttext;
		}
		table {
			td {
				width:85px;
			}
			td.input input {
				width:150px;
			}
		}
	}
}