// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$padding: 15px;
$background:#A9A9A9;
$radius:15px;
$margin:1em;
$height:125px;
$textsize:14px;

@mixin main-style {
	padding: $padding;
	background:$background;
	border-radius: $radius;
}

h4, h3, h2 {
	padding:0;
	margin:0;
}

.left_column {
	padding:0;
	float:left;
	width:570px;
	.about {
		width:330px;
		float:left;
		margin-right:$margin;
		padding: $padding;
		background:$background;
		border-radius: $radius;
		height:$height;
	}
	.main_menu{
		width:169px;
		float:left;
		padding: $padding;
		background:$background;
		border-radius: $radius;
		height:$height;
	}
	.news {
		width:540px;
		margin-top:$margin;
		float:left;
		padding: $padding;
		background:$background;
		border-radius: $radius;

		.post {
			float:left;
			width:150px;
			margin-right:30px;
			img {
				margin-right:27px;
				width:150px;
				height:150px;	
			}
		}
	}
	.menu{
		width:540px;
		ul {
			li {	
				display: inline-block;
				margin:auto 0.1em;
				margin-bottom:0.5em;
				padding:0.2em;
				background:grey;}}}
	.reservation {
		@include main-style;
		margin-bottom:$margin;

		.left_form_part{
			width:285px;
			float:left;
			table {
				td {
					width:85px;
				}
				input {
					width:150px;
				}
			}
		}
		.right_form_part{
			float:left;
			width:250px;
		}
	}
	.event {
		@include main-style;
		margin-bottom:$margin;
	}

	.recalls {
		@include main-style;
		margin-bottom:$margin;
	}
	.contacts{
		@include main-style;
		margin-bottom:$margin;		
	}
	.movie {
		@include main-style;
		margin-bottom:$margin;	
	}
}
.right_column {
	width:415px;
	float:left;
	margin-left:$margin;
	.events{
		@include main-style;
		margin-bottom:$margin;
		a {
			font-size:$textsize;
			text-decoration:underline;
		}
	}
	.sport {
		@include main-style;
		margin-bottom:$margin;
	}
	.movies {
		@include main-style;
		margin-bottom:$margin;
		.right {
			float:right;
			img {
				float:right;
				width:60px;
				height:60px;
				margin-left:5px;
			}
			.day_of_week {
				text-align:right;
			}
		}
		.left {
		
		}
	}


	img{
		width:415px;
/*убрать эту высоту
*/		
		height:300px;
	}
	.banquets {
		@include main-style;
		margin-top:$margin;
	}
	.archive{
		@include main-style;
		margin-top:$margin;
	}
	.recall_form{
		@include main-style;
		margin-top:$margin;	
		.actions {
			float:right;
		}
		table {
			td {
				width:85px;
			}
			td.input input {
				width:150px;
			}
		}
	}
	.messages_form{
		@include main-style;
		margin-top:$margin;

		.actions {
			float:right;
		}
		table {
			td {
				width:85px;
			}
			td.input input {
				width:150px;
			}
		}
	}	

}
