%table
  %thead
    %tr.lang
      %th Язык/lang
      %td
        = link_to "Русский", "#", :class => "russian_globalize selected"
        | 
        = link_to "English", "#", :class => "english_globalize"